body {
    background-color: rgb(224, 156, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#lienzo{
    width: 1000px;
    height: 550px;
    border: 1px rgb(90, 105, 59) solid;
    background-color: rgb(153, 145, 163);
    position: relative;
}

#cara{
    width: 35%;
    height: 77%;
    border-radius: 49%;
    background-color: rgb(102, 224, 224); 
    position: absolute; 
    bottom: 9%;
    left: 32%; 
}
.ojo {
    width: 20%;
    height: 18%;
    background-color: rgb(145, 255, 231);
    border-radius: 50%;
    position: absolute;
    bottom: 57%
}

#ojoIzq {
    left: 21%;
}

#ojoDer {
    right: 24%;
}

#ojoExt {
    background-color: rgb(170, 255, 248);
    width: 13%;
    height: 17%;
    border-radius: 50%;
    border: 4px rgb(252, 212, 125) dotted;
    position: absolute;
    bottom: 75%;
    left:41%;
}

#ojoPeq {
    background-color: rgb(252, 212, 125);
    width: 7%;
    height: 9%;
    border-radius: 50%;
    border: 2px rgb(252, 212, 125) bold;
    position: absolute;
    bottom: 80%;
    left:45%;
}

#boca {

}


#rombo {
    width: 28px;
    height: 24px;
    background-color: rgb(153, 145, 163);
    transform: rotate(26deg) skew(15deg, 15deg);
    position: absolute;
    bottom: 45%;
    left: 42%;
}

#rombod {
    width: 28px;
    height: 24px;
    background-color: rgb(153, 145, 163);
    transform: rotate(72deg) skew(15deg, 15deg);
    position: absolute;
    bottom: 45%;
    left: 47%;
}

#orombo{
    width: 38px;
    height: 50px;
    background-color: #9e6262;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    bottom: 58%;
    left: 29%;
}

#orombos{
    width: 38px;
    height: 50px;
    background-color: #9e6262;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    bottom: 58%;
    left: 64%;
}

#luna {
    width: 100px;
    height: 100px;
    border-radius: 80%;
    box-shadow: -3px 18px rgb(110, 185, 81);
    position: absolute;
    bottom: 25%;
    left: 34%;
}

#oreja{
    width: 25%;
    height: 37%;
    border-radius: 49%;
    background-color: rgb(102, 224, 224); 
    position: absolute;
    bottom: 40%;
    right: 87%; 
}

#orejad{
    width: 25%;
    height: 37%;
    border-radius: 49%;
    background-color: rgb(102, 224, 224); 
    position: absolute;
    bottom: 40%;
    right: -13%; 
}

#lunad {
    width: 308px;
    height: 270px;
    border-radius: 80%;
    box-shadow: -1px -20px rgb(110, 185, 81);
    position: absolute;
    top: 4%;
    left: 6%;
}

#pelo {
    width: 128px;
    height: 112px;
    background: rgb(110, 185, 81);
    border-radius: 50%;
    position:absolute;
    top: -10%;
    left: -10%;
    transform: rotate(-45deg);
}   

#pelod {
    width: 128px;
    height: 112px;
    background: rgb(110, 185, 81);
    border-radius: 50%;
    position:absolute;
    top: -10%;
    left: 74%;
    transform: rotate(45deg);
}    

#lunat {
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 100px solid #662c2c;
    position: absolute;
    left: -7.5%;
    bottom: 21%;

}
   

#lunac {
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 100px solid #662c2c;
    position: absolute;
    left: 99%;
    bottom: 21%;

}

#mejilla {
    height: 35px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(202, 184, 193);
    position: absolute;
    bottom: 45%;
    left: 10%;

}

#mejillad {
    height: 35px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(202, 184, 193);
    position: absolute;
    bottom: 45%;
    right: 10%;

}

